h1 {
	margin: 0.5em;
}

h3 {
	margin: 0.5em;
}

.Coin-grid {
	display: grid;
	grid-template-columns: 7fr;
	grid-template-rows: auto;
	margin: 5em;
}

.headers {
	grid-row: 1 / 2;
	display: flex;
	flex-basis: 100%;
	height: 4em;
}

.header-item {
	flex-basis: 20%;
	font-weight: bold;
}
.Coin-item {
	grid-row: span 1;
	display: flex;
	flex-basis: 100%;
	height: 4em;
	border-width: 0.1px 0em;
	border-style: solid;
	border-color: lightgray;
	padding: 1em;
}

.Coin-item:hover {
	background-color: rgba(249, 253, 223, 0.4);
}

.Coin-spec {
	flex-basis: 20%;
}

.Coin-image {
	width: 20%;
	height: auto;
}

.anch {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
