.nav {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    background: rgba(7, 46, 65, 0.85);
    color: white;
}

.anchor {
    color: white;
}

.nav > div {
    margin-left: 0.2em;
    margin-right: 0.7em;
}
