.chart-title {
  fill: black;
  font-weight: bold;
}

.main-line {
  fill: none;
  stroke: #a0b700;
  stroke-width: 2;
}

.domain {
  stroke: none;
}

.tick > line {
  stroke: #d8d6d5;
}

.axis-bottom > .tick > text {
  fill: #585757;
}

.axis-bottom > .domain {
  stroke: #d8d6d5;
}

.axis-left > .tick > text {
  fill: #585757;
}

.tooltip-info {
  font-weight: bold;
  font-size: 0.8rem;
}

.tooltip-box {
  fill: rgba(82, 80, 80, 0.9);
  z-index: 3;
}
