.search-div {
	position: absolute;
	font-size: 0.9rem;
	top: 0.3em;
	left: 70%;
	width: 30%;
	height: 70%;
}

.searchbar {
	width: 70%;
	background-color: gray;
	color: whitesmoke;
	font-weight: bold;
}

.drop-search {
	top: 0em;
	background-color: white;
	width: 70%;
	max-height: 70%;
	overflow: scroll;
	border: 0.1em solid black;
}

.search-coin {
	margin: 0.1em;
	padding: 0.1em;
}
